<div class="calculator theme-{{currentTheme.name}}">
  <p class="current-theme"><strong>Current Theme:</strong> {{currentTheme.name}}</p>
  <div class="container">
    <div class="row display">
      <span class="total">{{display}}</span>
    </div>
    <div class="row">
      <button type="button" class="btn function" {{action 'entry' 'clear'}}>AC</button>
      <button type="button" class="btn function" {{action 'entry' '+-'}}>+/-</button>
      <button type="button" class="btn function" {{action 'entry' '%'}}>%</button>
      <button type="button" class="btn operator" {{action 'entry' '/'}}>&divide;</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{action 'entry' '7'}}>7</button>
      <button type="button" class="btn number" {{action 'entry' '8'}}>8</button>
      <button type="button" class="btn number" {{action 'entry' '9'}}>9</button>
      <button type="button" class="btn operator" {{action 'entry' '*'}}>x</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{action 'entry' '4'}}>4</button>
      <button type="button" class="btn number" {{action 'entry' '5'}}>5</button>
      <button type="button" class="btn number" {{action 'entry' '6'}}>6</button>
      <button type="button" class="btn operator" {{action 'entry' '-'}}>-</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{action 'entry' '1'}}>1</button>
      <button type="button" class="btn number" {{action 'entry' '2'}}>2</button>
      <button type="button" class="btn number" {{action 'entry' '3'}}>3</button>
      <button type="button" class="btn operator" {{action 'entry' '+'}}>+</button>
    </div>
    <div class="row">
      <button type="button" class="btn number double" {{action 'entry' '0'}}>0</button>
      <button type="button" class="btn number" {{action 'entry' '.'}}>.</button>
      <button type="button" class="btn operator" {{action 'equals' '='}}>=</button>
    </div>
  </div>
</div>