<div class="calculator theme-{{this.currentTheme.theme.className}}">
  <p class="current-theme"><strong>Current Theme:</strong> {{this.currentTheme.theme.name}}</p>
  <div class="container">
    <div class="row display">
      <span class="log">{{this.log}}</span>
      <span class="total">{{this.display}}</span>
    </div>
    <div class="row">
      <button type="button" class="btn function" {{on "click" (fn this.entry 'clear')}} data-value="AC">AC</button>
      <button type="button" class="btn function" {{on "click" (fn this.entry '+-')}} data-value="+-">+/-</button>
      <button type="button" class="btn function" {{on "click" (fn this.entry '%')}} data-value="%">%</button>
      <button type="button" class="btn operator" {{on "click" (fn this.entry '/')}} data-value="/">&divide;</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{on "click" (fn this.entry '7')}} data-value="7">7</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '8')}} data-value="8">8</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '9')}} data-value="9">9</button>
      <button type="button" class="btn operator" {{on "click" (fn this.entry '*')}} data-value="*">x</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{on "click" (fn this.entry '4')}} data-value="4">4</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '5')}} data-value="5">5</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '6')}} data-value="6">6</button>
      <button type="button" class="btn operator" {{on "click" (fn this.entry '-')}} data-value="-">-</button>
    </div>
    <div class="row">
      <button type="button" class="btn number" {{on "click" (fn this.entry '1')}} data-value="1">1</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '2')}} data-value="2">2</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '3')}} data-value="3">3</button>
      <button type="button" class="btn operator" {{on "click" (fn this.entry '+')}} data-value="+">+</button>
    </div>
    <div class="row">
      <button type="button" class="btn number double" {{on "click" (fn this.entry '0')}} data-value="0">0</button>
      <button type="button" class="btn number" {{on "click" (fn this.entry '.')}} data-value=".">.</button>
      <button type="button" class="btn operator" {{on "click" (fn this.entry '=')}} data-value="=">=</button>
    </div>
  </div>
</div>
