{{#each @themes as |theme|}}
  <div class="theme-wrapper column {{if theme.isSelected 'active'}}" {{on "click" (fn this.setTheme theme)}}>
    <div class="theme {{theme.className}}">
      <span class="title">{{theme.name}}</span>
    </div>
    {{#if theme.isSelected}}
      <span class="current-theme">Current Theme</span>
    {{else}}
      <button type="button" class="select-theme">
        Select Theme
      </button>
    {{/if}}
  </div>
{{else}}
  <p>There are no available themes</p>
{{/each}}
